@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    height: 98vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:black url(../imagens/fundo.jpg) no-repeat center top fixed;
    background-size: cover;
    
}

header {
    color: white;
    background-image: linear-gradient(to bottom, gray, black);
}

header h1 {
    font-size: 4em;
    text-align: center;
    padding-top: 30px;
    font-variant: small-caps;
}

header p {
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.1em;
    width: 90vw;
    margin: auto;
}

section {
    margin: auto;
    margin-bottom: 274px;
    max-width: 700px;
    background-image: linear-gradient(to top, gray, black );
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

div {
    width: 300px;
    margin: auto;
}


div h2{
    color: white;
    padding: 10px;
}

div > a {
    display: none;
    text-decoration: none;
    max-width: 300px;
    margin: auto;
    padding: 5px;
    font-weight: bold;
    color: lightgray;
}


div:hover a {
    display: block;
    
}

div a:hover {
    text-decoration: underline;  
}

nav {
    margin-top: 100px;
    width: 200px;
    height: 60px;
    margin: auto;
}

nav img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
}

nav img:hover {
    transform: translate(0px, -10px);
    box-shadow: 0px 5px 10px white;
    transition: .6s;
    border: 1px solid white;
    box-sizing: border-box;
}

footer {
    background-color: black;
    color: white;
    margin-top: ;
}

footer p {
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer  img {
    background-color: white;
}
