@charset "UTF-8" ;

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    background: url(../imagens/fundo2.jpg) center top fixed ;
    background-size: cover;
}

header {
    text-align: center;
    padding: 30px;
    background-color: #332424a8;
}

header h1 {
    margin-bottom: 20px;
    font-variant: small-caps;
    color: white;
    font-size: 3em;
}

header p {
    color: white;
}

section#botoes {
    background-color: #332424a8;
}

section#botoes img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid white;
}

section#botoes img:hover {
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.733);

    transform: translate(0px, -10px);
    transition: .6s;
}

span {
    background-color: #999999;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#espaco {
    height: calc(80% - 162px);
}

#menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    display: none;
    background-color: rgba(0, 0, 0, 0.116);
    padding: 10px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}

#menu h2 {
    text-align: center;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.425);
}

#menu h2:hover {
    cursor: pointer;
    background-color: white;
}

footer {
    text-align: center;
    padding: 7px;
    background-color: black;
    color: white;
}


